<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
<!--
    <module name="Header">
        <property name="header" value="/*\n * Hibernate OGM, Domain model persistence for NoSQL datastores\n *\n * License: GNU Lesser General Public License (LGPL), version 2.1 or later\n * See the lgpl.txt file in the root directory or &lt;http://www.gnu.org/licenses/lgpl-2.1.html&gt;.\n */"/>
        <property name="fileExtensions" value="java"/>
    </module>

    -->

    <module name="TreeWalker">
        <property name="cacheFile" value="${checkstyle.cache.file}" />


        <module name="UnusedImports" />
        <module name="AvoidStarImport" />
        <module name="RedundantImport" />
        <module name="EqualsHashCode" />
        <module name="IllegalInstantiation" />
        <module name="ModifierOrder" />
        <module name="GenericWhitespace" />
        <module name="PackageAnnotation" />
        <module name="CovariantEquals" />
        <module name="ModifiedControlVariable" />
        <module name="NeedBraces" />
        <module name="OneStatementPerLine" />
        <module name="EmptyStatement" />
        <module name="DefaultComesLast" />
        <module name="DeclarationOrder" />
        <module name="RedundantModifier" />

                
        <module name="MethodParamPad">
            <property name="option" value="nospace" />
            <property name="allowLineBreaks" value="false" />
        </module>

        <module name="LeftCurly">
            <property name="option" value="eol" />
        </module>

        <module name="RightCurly" />

        <module name="WhitespaceAfter">
            <property name="tokens" value="TYPECAST" />
        </module>

    </module>

</module>
